.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px;         
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}



.col-12 { grid-column: span 12; }
.col-6 { grid-column: span 6; }
.col-4 { grid-column: span 4; }
.col-3 { grid-column: span 3; }


header {
  background-color: #311D00;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ff5100;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.6;
}

main {
  background-color: #ffffff;
  padding: 20px;
}



h2{
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: #311D00;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: #ff5100;
}


footer {
  background-color: #ff5100;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: white;
}

footer img {
  margin-top: 10px;
}


@media (max-width: 768px) {
  .grid-12 {
    grid-template-columns: 1fr;
  }

  .col-12,
  .col-6,
  .col-4,
  .col-3 {
    grid-column: span 1;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}